doctype html
html
 head
  title Grades
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  h1 Grades
  p
   ul
    each item in grades
     li
      a(href="/grades/#{item.id}") #{item.name}