body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #003333;
}

h1 {
	color: #000033;
	text-align: center;
}

.headerContainer {
	height: auto;
	width: auto;
	border: 1px black solid;
	padding: 5px;
}

.bodyContainer {
	height: 100%;
	width: 100%;
	border: 1px green solid;
	padding: 5px;
}

.list_image_container {
	height: 98%;
	width: 99%;
	border: 1px brown solid;
	padding: 5px;	
}

.image {
	padding-left:200px; 
	padding-top:5px;
}

#cycler{
	position:relative;
}

#cycler img{
	position:absolute;
	z-index:1
}

#cycler img.active{
	z-index:3
}