body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.edit {
	display: inline;
	/*border: 1px solid black;*/
	/*float: right;*/
	padding: 5px;
	color: steelblue;
	text-decoration: underline;
}

.name {
	display: inline;
}